.todo{
    width: 20%;
    box-sizing: border-box;
    background-color: lightcoral;
    padding: .5em;
    text-align: center;
    border-radius: .5em;
    margin: 1em;
}

.todo h3{
    margin: 0px;
}

.todo p{
    margin: 0px;
}

.completed{
    opacity: 50%;
    background-color: green;
}